In [3]:
#------Read csv file-------

classData <- read.csv("C:/Users/Yamini/Documents/classData.csv")

In [4]:
print(classData)

   No  GPA Years.of.work.experience Latest.salary..per.year. Highest.GPA
1   1 3.50                      2.5                    45000        3.50
2   3 3.80                      1.0                    65000        3.60
3   4 3.80                      2.0                    85000        4.00
4   5 3.41                      1.5                    10000        3.41
5   6 3.33                      5.0                    70000        3.67
6   7 3.52                      2.5                    27000        3.58
7   8 3.50                      2.0                    40000        3.70
8   9 3.50                      5.0                    75000        3.53
9  10 3.60                      2.5                    65000        3.90
10 11 3.20                      4.0                    62000        3.80
11 12 3.50                      2.0                    60000        3.50
12 13 3.67                      1.8                    60000        4.00
13 14 3.50                      2.0                    60000        3.70
14 15 3.47                      2.5                    70000        3.64
15 16 3.06                      1.3                    40000        3.64
16 17 3.27                      2.0                    60000        4.00
17 18 3.53                      4.0                    50000        4.00
18 19 4.00                      4.0                    50000        4.00
19 20 3.40                      1.0                    30000        3.60
20 21 3.54                      1.0                    40000        4.00
21 22 3.50                      2.0                    75000        4.00
22 23 3.50                      4.0                    50000        3.80
23 24 3.40                      3.0                    50000        3.80
24 25 3.93                      5.0                    50000        3.80
25 26 3.30                      4.0                    65000        4.00
26 27 3.90                      6.0                    90000        4.00
27 28 3.17                      1.0                    50000        3.30
28 29 3.48                      3.5                    60000        4.00
29 30 3.93                      4.0                    43000        4.00
30 31 3.43                      4.0                    60000        3.50
31 32 3.33                      5.0                     5000        3.66
32 33 3.60                      1.5                    60000        3.70
33 34 3.80                      3.0                    65000        3.80
34 35 3.50                      3.0                    65000        4.00
35 36 3.39                      2.0                    60000        3.80
   Lowest.GPA Coops.Internships..YN. Number.of.contacts.on.Linkedin
1        3.50                      N                            250
2        3.00                      Y                            400
3        3.60                      Y                            500
4        3.33                      N                            365
5        3.00                      Y                            400
6        3.52                      N                            230
7        3.30                      N                            250
8        3.30                      Y                            260
9        3.10                      Y                            250
10       3.00                      N                            525
11       3.50                      N                            400
12       3.00                      N                            920
13       3.30                      y                            300
14       3.37                      Y                            310
15       2.67                      Y                            550
16       3.00                      Y                            350
17       3.30                      N                            600
18       4.00                      Y                            500
19       3.10                      N                            500
20       3.42                      Y                            650
21       3.00                      Y                            515
22       3.20                      Y                            350
23       3.20                      Y                            301
24       3.30                      Y                            320
25       3.65                      Y                            700
26       3.80                      Y                            809
27       3.00                      N                            258
28       3.33                      Y                            350
29       3.28                      Y                            900
30       3.30                      Y                            220
31       3.00                      Y                            183
32       3.40                      Y                            340
33       3.50                      Y                            800
34       3.60                      Y                            400
35       3.20                      Y                            500
   Expected.Salary.after.graduation
1                             90000
2                            100000
3                             90000
4                            100000
5                            100000
6                             85000
7                             90000
8                            100000
9                            110000
10                           105000
11                            85000
12                           140000
13                            90000
14                            95000
15                           120000
16                           100000
17                            88000
18                           130000
19                            80000
20                            95000
21                            80000
22                           110000
23                            90000
24                           100000
25                           100000
26                           120000
27                           100000
28                           100000
29                           100000
30                           110000
31                           100000
32                           100000
33                            80000
34                            80000
35                            90000

In [16]:
#----1.Min Max, Avg, Median GPA and YearsOfworkExperience---

minGPA <- min(classData$GPA)
paste("Min GPA:",minGPA)

maxGPA <- max(classData$GPA)
paste("Max GPA:",maxGPA)

avgGPA <- mean(classData$GPA)
paste("Avg GPA:",avgGPA)

medianGPA <- median(classData$GPA)
paste("Median GPA:",medianGPA)

minyearsofWE <- min(classData$Years.of.work.experience)
paste("Min Years.of.work.experience:",minyearsofWE)

maxyearsofWE <- max(classData$Years.of.work.experience)
paste("Max Years.of.work.experience:",maxyearsofWE)

meanyearsofWE <- mean(classData$Years.of.work.experience)
paste("Avg Years.of.work.experience:",meanyearsofWE)

medianyearsofWE <- median(classData$Years.of.work.experience)
paste("Median Years.of.work.experience:",medianyearsofWE)

[1] "Min GPA: 3.06"

[1] "Max GPA: 4"

[1] "Avg GPA: 3.52171428571429"

[1] "Median GPA: 3.5"

[1] "Min Years.of.work.experience: 1"

[1] "Max Years.of.work.experience: 6"

[1] "Avg Years.of.work.experience: 2.87428571428571"

[1] "Median Years.of.work.experience: 2.5"

In [17]:
#----2.Mode Of Salary----

getmode <- function(v) {
  uniqv <- unique(v)
  uniqv[which.max(tabulate(match(v, uniqv)))]
}

v <- classData$Expected.Salary.after.graduation

result <- getmode(v)
paste("Mode of salary:",result)

[1] "Mode of salary: 100000"

In [7]:
#----3.% of students having Co/op and not having Co/op----

total <- length(classData$Coops.Internships..YN.)
totalY <- sum(classData$Coops.Internships..YN. == "Y")
totalN <- sum(classData$Coops.Internships..YN. == "N")

withcoop_percent <- (totalY/total)*100
withoutcoop_percent <- (totalN/total)*100

paste("students with coop",round(withcoop_percent,digits = 2),"%");paste("students with out coop",round(withoutcoop_percent,digits = 2),"%")

[1] "students with coop 68.57 %"

[1] "students with out coop 28.57 %"

In [8]:
#----4. Number of students with more than 500 linkedin contacts----

studentsLinkedinContact <- length(which(classData$Number.of.contacts.on.Linkedin > 500))
paste("students with more than 500 linked contacts:", studentsLinkedinContact)

[1] "students with more than 500 linked contacts: 10"

In [9]:
#----5.Inter Quartile Range for the Expected Salalry Range----

IQR(classData$Expected.Salary.after.graduation,na.rm = TRUE)

[1] 10000